@import url(reset.css);

/* ------------------------------Basic styles------------------------------------ */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    color: #440c74;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section, .ideas {
    margin-bottom: 20px;
}

.first {
    margin-top: 20px;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.tagline, h1, li, h2, footer p {
    text-align: center;
}

input, label, textarea, .btn, img {
    display: block;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h3,
p,
img, 
footer h2 {
    padding-bottom: 15px;
}

footer h2 {
    padding-top: 30px;
}

/* ------------------------------Fonts------------------------------------ */
h2, h3, footer p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 65px;
    line-height: 55px;
    padding-bottom: 10px;
    font-weight: bold;
}

footer p {
    font-size: 14px;
}

.btn {
    font-size: 18px;
}

h3 {
    font-size: 28px;
}

.tagline {
    font-size: 30px;
    line-height: 30px;
}

footer h2 {
    font-size: 48px;
    line-height:  48px;
}

.ideas h2 {
    font-size: 55px;
    line-height: 55px;
}

p {
    line-height: 22px;
}

a { 
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    text-decoration: none;
    display: block;
}

h2, h3 {
    font-weight: 700;
}

h3 {
    letter-spacing: 2px;
}

footer p, a {
    text-transform: uppercase;
}

h1, .tagline {
    color: #fff;
}

footer h2, h3 {
    color: #5f1b98;
}

.ideas h2 {
    color: #fff;
}

nav a:link,
nav a:active,
nav a:hover,
nav a:visited { 
    color: #582782;
}

.btn, input {
    color: #420e73;
}

footer {
    color: #450c75;
}

/* ------------------------------Header------------------------------------ */
header {
    background-image: linear-gradient(
    60deg,
    #fe6a82 10%,
    #9225f0 
    );
}

ul {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tagline {
    padding-bottom: 32px;
}

/* ------------------------------Ideas------------------------------------ */
.ideas {
    background-image: url(../img/fullbg.jpg);
    background-size: cover;
    background-position: center;
}

.ideas h2 {
    padding: 70px 20px;
    letter-spacing: 3px;
}

/* ------------------------------Footer------------------------------------ */
footer {
    background-image: linear-gradient(
    50deg,
    #fe7fc4 30%,
    #9729ee
    );
}

input {
    border-bottom: 2px solid #440c74;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    box-shadow: none;
}

input, textarea {
    width: 100%;
    background: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}

textarea {
    border: 2px solid #440c74;
    resize: none;
    margin-bottom: 15px;
}

.btn {
    border: 2px solid #c244c2;
    padding: 10px 20px;
    background: none;
    cursor: pointer;
}

.btn4 {
    border: 2px solid #fff;
    padding: 10px 63px;
}

label {
    padding-top: 15px;
}

label:last-of-type {
    padding-bottom: 15px;
}

footer p {
    padding-top: 15px;
    padding-bottom: 10px;
}

footer form {
    width: 400px;
    margin: 0 auto;
}

/* ------------------------480px--------------------------------- */
@media (min-width: 480px) {
    
    article p {
        line-height: 26px;
    }
     
    .first img,
    .second img,
    .third img {
        width: 40%;
        margin-bottom: 5px;
    }
    
    .first img,
    .third img {
        float: right;
        margin-top: -20px;
        margin-left: 3%;
        padding: 0;
    }
    
    .second img {
        float: left;
        margin-top: -40px;
        margin-right: 3%;
        padding: 0;
    }
    
    .second h3 {
        display: inline-block;
        margin-left: 43%;
    }
    
     section, .ideas {
        margin-bottom: 40px;
    }

    .first {
        margin-top: 40px;
    }
    
}

/* ------------------------768px--------------------------------- */
@media (min-width: 768px) {
    
    a { 
        font-size: 16px;
    }
    
    h1 {
        font-size: 145px;
        line-height: 65px;
        font-weight: bold;
        padding-top: 30px;
    }
    
    .tagline {
        font-size: 28px;
        padding-top: 30px;
        padding-bottom: 100px;
    }
    
    h3 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .ideas h2 {
        font-size: 70px;
        line-height: 70px;
    }
    
    ul li {
        display: inline-block;
        padding: 10px 10px;
    }
    
    nav ul {
        text-align: center;
    }
    
    section, .ideas {
        margin-bottom: 30px;
    }

    .first {
        margin-top: 30px;
    }
    
    footer h2 {
        padding-top: 90px;
    }  
    
    footer form {
        padding: 15px 0;
    }
    
    /* ---CSS Grid--- */ 
    footer .container {
        display: grid;
        grid-template-columns: auto 400px;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 20px;
        grid-template-areas:
            "h f"
            "h f"
            "p f";
    }
    
    footer h2 {
        grid-area: h;
    }
    
    footer form {
        grid-area: f;
    }

    footer p {
        grid-area: p;
    }
}

/* ------------------------1050px--------------------------------- */
@media (min-width: 1050px) {
 
    h3 {
        font-size: 32px;
    }
    
    article p {
        font-size: 17px;
    }
    
    footer h2 {
        font-size: 60px;
        line-height: 60px;
    }
    
    .first img,
    .second img,
    .third img {
        width: 100%;
    }
    
    .second h3 {
        display: block;
        margin-left: 0;
    }

    .first img {
        margin-top: 40px;
    }
    
    .second img {
        margin-top: -30px;
    }
    
    .third img {
        margin-top: 20px;
    }
    
    .ideas h2 {
        padding: 160px 0;
    }
    
    .ideas {
        background-position: center 9%;
    }
    
    .btn {
        margin-left: 0; 
    }
    
    section, .ideas {
        margin-bottom: 50px;
    }

    .first {
        margin-top: 50px;
    }

    /* ---Pseudo elements--- */
    .first p,
    .second p,
    .third p {
        position: relative;
    }
    
    .first p::before {
        content: "1.";
        left: -112px;
        letter-spacing: 20px;
    }
    
    .third p::before {
        content: "3.";
        left: -220px;
        letter-spacing: 70px;
    }

    .first p::before,
    .third p::before {
        color: #e579d7;
    }
    
    .second p::before {
        content: "2.";
        left: -130px;
        letter-spacing: 50px;
        color: #fb8097;
    }

    .first p::before,
    .second p::before,
    .third p::before {
        font-family: 'Montserrat', sans-serif;
        font-size: 290px;
        font-weight: 700;
        position: absolute;
        z-index: -1;
        top: 40px;
    }
    
    /* ---CSS Grid--- */   
     article {
        display: grid;
    }

    article figure {
        grid-area: f;
    }
    
    article h3 {
        grid-area: h;
    }

    article p {
        grid-area: p;
    }

    article button {
        grid-area: b;
    }
    
    .first article,
    .second article,
    .third article {
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: minmax(30px, auto) auto 45px auto;
        grid-gap: 5px;
    }
    
    .first article {
        grid-template-areas:
            ". . h h h h h h h h . f f f f f f f f f"
            ". . p p p p p p p p . f f f f f f f f f"
            ". . b b b b b b b b . f f f f f f f f f"
            ". . . . . . . . . . . f f f f f f f f f";
    }
    
    .second article {
        grid-template-areas:
            "f f f f f f f f f . . . h h h h h h h h"
            "f f f f f f f f f . . . p p p p p p p p"
            "f f f f f f f f f . . . b b b b b b b b"
            "f f f f f f f f f . . . . . . . . . . .";
    }
    
    .third article {
        grid-template-areas:
            ". . . . h h h h h h h h . f f f f f f f"
            ". . . . p p p p p p p p . f f f f f f f"
            ". . . . b b b b b b b b . f f f f f f f"
            ". . . . . . . . . . . . . f f f f f f f";
    }
}

/* ------------------------1200px--------------------------------- */
@media (min-width: 1200px) {
    
    h1 {
        padding-top: 50px;
    }
    
    .tagline {
        padding-bottom: 140px;
    }
    
    /* ---Pseudo elements--- */ 
    header,
    .ideas {
        position: relative;
    }
    
    header::before,
    header::after,
    .ideas::after {
        position: absolute;
    }
    
    header::before {
        content: url(../img/wave-top2.svg);
        width: 430px;
        right: 0;
        top: 280px;
    }
    
    header::after {
        content: url(../img/wave-top.svg);
        width: 690px;
        right: 0;
        top: 395px;
    }
    
    .ideas::after {
        content: url(../img/wave-bottom.svg);
        width: 750px;
        left: -5px;
        top: 340px;
    }
    
    .first {
        margin-top: 90px;
    }
    
    section {
        margin-bottom: 70px;
    }
    
    .ideas {
        margin-bottom: 90px;
    }
    
    .third {
        margin-bottom: 50px;
    }
}


