@import url(reset.css);

html {
    //font-size: 62.5%;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    color: #440c74;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(
    60deg,
    #fe6a82 10%,
    #9225f0 
    );
}

nav li {
    font-size: 30px;
    line-height: 48px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

nav a:link,
nav a:active,
nav a:hover,
nav a:visited { 
    color: #582782;
}

ul {
    padding-top: 20px;
    padding-bottom: 10px;
}

h1 {
    font-size: 55px;
    //line-height: 60px;
}

.tagline {
    font-size: 30px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
}

h1, .tagline {
    color: #fff;
    padding-bottom: 30px;
}



.tagline, h1, li, h2, footer p {
    text-align: center;
}

input, label, textarea, .btn, img {
    display: block;
    margin: 0 auto;
}

h1{
    font-weight: bold;
}

a {
    font-weight: 500;
}

img {
    max-width: 100%;
}


h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #5f1b98;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    line-height: 48px;
}

h3 {
    font-size: 24px;
}

.first p {
    line-height: 16px;
}

.btn {
    font-size: 17px;
    border: 2px solid #c244c2;
    color: #420e73;
    padding: 8px 16px;
    background: none;
    cursor: pointer;
}

.btn1_1,
.btn2_1,
.btn3_1 {
    display: none;
}

.btn4 {
    border: 2px solid #fff;
    padding: 8px 49px;
}

footer {
    color: #450c75;
    background-image: linear-gradient(
    50deg,
    #fe7fc4 30%,
    #9729ee
    );
}

input {
    border-bottom: .2rem solid #440c74;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    color: #420e73;
    padding-top: 1rem;
    box-shadow: none;
}

input, textarea {
    width: 100%;
    background: none;
}

textarea {
    border: .2rem solid #440c74;
    resize: none;
    margin-bottom: 15px;
}

h3,
p,
img, 
h2 {
    padding-bottom: 15px;
}

label {
    padding-top: 15px;
}

label:last-of-type {
    padding-bottom: 15px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 0;
}

@media (min-width: 480px) {
   
    .first p,
    .second p,
    .third p {
        font-size: 16px;
        line-height: 26px;
        width: 70%;
        max-width: 430px;
    } 
     
    .first p,
    .third p,
    .first h3, 
    .third h3 {
        margin-left: 25%;
    }
    
    .second p,
    .second h3
    {
        margin-left: 10%;
    }

    .first p,
    .second p,
    .third p {
        position: relative;
    }
    
    .first p::before {
        content: "1.";
        font-family: 'Montserrat', sans-serif;
        font-size: 290px;
        font-weight: 700;
        color: #e579d7;
        position: absolute;
        z-index: -1;
        top: 80px;
        left: -112px;
    }
    
    .third p::before {
        content: "3.";
        font-family: 'Montserrat', sans-serif;
        font-size: 290px;
        font-weight: 700;
        color: #e579d7;
        position: absolute;
        z-index: -1;
        top: 70px;
        left: -112px;
    }

    .second p::before {
        content: "2.";
        font-family: 'Montserrat', sans-serif;
        font-size: 290px;
        font-weight: 700;
        color: #fb8097;
        position: absolute;
        z-index: -1;
        left: 60%;
        top: 80px;
    }
    
    h3 {
        font-size: 34px;
        letter-spacing: 5px;
    }
    
    .btn {
        font-size: 22px;
        padding: 10px 20px;
    } 
    
    label {
        font-size: 16px;
    }
    
}


